<!DOCTYPE html>
<html>
    <head>
        <title>
            Basic Form
        </title>
    </head>
<body>
    <h1>Hello!</h1>
    <p>Please input the necessary informaiton below.</p>
    <form>
        <label for='name'>Name</label>
        <input type='text' id='name' name='name'><br>
        <label for='age'>Age</label>
        <input type='number' id='age' name='age'><br>
        <label for='ninja'>Favorite SofDes Ninja</label>
        <input type='text' id='ninja' name='ninja'><br>
        <input type='submit' value="Let's Go!">
    </form>
</body>
</html>
